<%- include partial/head %>

<body>
  <!-- Header -->
  <header>
    <!-- Menu -->
    <%- include partial/menu %>

    <div id="cover">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="cover-content">
              <div class="row">
                <div class="col">
                  <h1 class="circle">Welcome <br> to <br> SJK - APPS </h1>
                </div>
                <div class="col">
                  <a href="#" class="btn btn-primary" id="more"><h3>Let's See More!</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->

  <section id="service">

  </section>

  <footer>
    Copyright &copy 2017 - Faris n' Riski
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>
