<%- include partial/head %>

<body>
  <!-- Header -->

  <div class="container" >
    <div class="row" id="contacts">

      <div class="col-md-12 col-xs-12" id="sub-title">
        <h2 class="text-center">Welcome to <img src="/assets/img/sjk-logo.png" alt="sjk-logo"></h2>
      </div>

      <div class="col-md-12 col-xs-12" id="show">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-offset-3 col-md-6">
            <p class="text-center"><b>Please Login First</b></p>
            <form class="" action="" method="post">
              <table class="table text-center">
                <tr>
                  <td align="right">Username : </td>
                  <td><input type="text" class="form-control" name="username" value="" placeholder="Masukkan Username"></td>
                </tr>
                <tr>
                  <td align="right">Password : </td>
                  <td><input type="password" class="form-control" name="password" value="" placeholder="Masukkan Password"></td>
                </tr>
                <tr>
                  <td class="text-center" colspan="2">
                    <input type="submit" class="btn btn-primary" value="Submit">
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <section id="service">

  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>
