<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>di SJK</h1>
    tampil table logs surat jalan yang telah dibuat descending createdAt, crud
  </body>
</html>