<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>ADD SJK</h1>
    <form class="" action="" method="post">
      <br>Vehicle: 
      <select class="" name="VehicleId">
        <!-- disini looping data vehicle -->
        <option value="1">dummy1</option>
      </select>
      <br>Driver: <select class="" name="DriverId">
        <!-- disini looping data driver -->
        <option value="2">dummy2</option>
      </select>
      <br>Costumer: <select class="" name="CostumerId">
        <!-- disini looping data CostumerId -->
        <option value="3">dummy3</option>
      </select>
      <br>Task: <textarea name="task" rows="8" cols="80"></textarea>
      <br><input type="submit" name="" value="SUBMIT">
    </form>
  </body>
</html>