<%- include partial/head %>

<body>
  <!-- Header -->
  <header>
    <!-- Menu -->
    <%- include partial/menu %>
  </header>

  <div class="container" >
    <div class="row" id="contacts">

      <div class="col-md-12 col-xs-12" id="sub-title">
        <h1 class="text-center"><%= title %></h1>
      </div>


      <div class="col-md-12 col-xs-12" id="show">
        <% if (msg){ %>
        <div class="alert alert-danger">
          <%= msg %>
        </div>
        <%}%>
        <form class="" action="" method="post">
          <table class="table">
            <tr>
              <td align="right">Username : </td>
              <td><input type="text" class="form-control" name="username" value="" placeholder="Masukkan Username"></td>
            </tr>
            <tr>
              <td align="right">Password : </td>
              <td><input type="password" class="form-control" name="password" value="" placeholder="Masukkan Password"></td>
            </tr>
            <tr>
              <td align="right">First Name : </td>
              <td>
                <input type="text" class="form-control" name="first_name" value="" placeholder="Masukkan First Name" style="text-transform: capitalize">
              </td>
            </tr>
            <tr>
              <td align="right">Last Name : </td>
              <td>
                <input type="text" class="form-control" name="last_name" value="" placeholder="Masukkan Last Name" style="text-transform: capitalize">
              </td>
            </tr>
            <tr>
              <td align="right">Email : </td>
              <td>
                <input type="text" class="form-control" name="email" value="" placeholder="Masukkan Email">
              </td>
            </tr>
            <tr>
              <td align="right">Status : </td>
              <td>
                <select class="" name="status">
                  <option value=""selected disabled>--Selected--</option>
                  <option value="admin">Admin</option>
                  <option value="driver">Driver</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="text-center" colspan="2">
                <input type="submit" class="btn btn-primary" value="Submit">
                <a class="btn btn-danger" href="/users">Back</a>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <section id="service">

  </section>

  <footer>
    Copyright &copy 2017 - Faris n' Riski
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>
