<!DOCTYPE html>
<html>

<head>
  <title>R&P - Studio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

  <!-- Custome CSS -->
  <link rel="stylesheet" href="assets/css/custom/style.css" type="text/css">

</head>
